---
UseColor: true
FormatStyle: file

Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -llvm-header-guard,
  -readability-identifier-length,

CheckOptions:
  # Types use PascalCase: MyClass
  - key: readability-identifier-naming.ClassCase
    value: "CamelCase"
  - key: readability-identifier-naming.StructCase
    value: "CamelCase"
  - key: readability-identifier-naming.EnumCase
    value: "CamelCase"
  - key: readability-identifier-naming.TypedefCase
    value: "CamelCase"
  - key: readability-identifier-naming.TypeAliasCase
    value: "CamelCase"
  - key: readability-identifier-naming.UnionCase
    value: "CamelCase"

  # Functions and variables use camelCase: myMethod
  - key: readability-identifier-naming.FunctionCase
    value: "camelBack"
  - key: readability-identifier-naming.MethodCase
    value: "camelBack"

  # Constants names use upper case with underscores: const int TIMEOUT_MS = 100
  - key: readability-identifier-naming.GlobalConstantCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.ConstexprVariableCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.EnumConstantCase
    value: "UPPER_CASE"

  # Template parameter names use PascalCase: InputIterator
  - key: readability-identifier-naming.TemplateParameterCase
    value: "CamelCase"

  # All other names use snake case: config_value
  - key: readability-identifier-naming.StaticConstantCase
    value: "lower_case"
  - key: readability-identifier-naming.ConstantCase
    value: "lower_case"
  - key: readability-identifier-naming.NamespaceCase
    value: "lower_case"
  - key: readability-identifier-naming.ParameterCase
    value: "lower_case"
  - key: readability-identifier-naming.VariableCase
    value: "lower_case"
  - key: readability-identifier-naming.MemberCase
    value: "lower_case"
  - key: readability-identifier-naming.PrivateMemberCase
    value: "lower_case"
    # - key: "readability-identifier-naming.PrivateMemberSuffix"  # TODO: UNCOMMENT!!!!
    #   value: "_"
