# ---------------------------
# Build artifacts
# ---------------------------
/build/
CMakeCache.txt
CMakeFiles/
/.cache/
CMakeUserPresets.json

# Compiled objects and binaries
*.o
*.obj
*.exe

# Build system files
*.ninja
cmake_install.cmake
compile_commands.json

# ---------------------------
# Generated code
# ---------------------------
# ANTLR and other generated sources
build/generated/

# ---------------------------
# Test output
# ---------------------------
/tests/Testing/
*.log

# ---------------------------
# Editor / environment files
# ---------------------------
.vscode/
.idea/
